<footer>
    <div class="linhaReta"></div>
  <div class="footer-container">
    <h3>Nossas Redes Sociais</h3>
    <div class="social-icons">
      <a
        href="https://www.facebook.com/DeltaDescartaveis1/"
        class="text-dark px-3"
        ><ng-icon name="ionLogoFacebook" class="icon"></ng-icon
      ></a>

      <a href="https://www.instagram.com/atacado.delta/" class="text-dark px-3">
        <ng-icon name="ionLogoInstagram" class="icon"></ng-icon
      ></a>
      <a href="#" class="text-dark px-3">
        <ng-icon name="ionLogoWhatsapp" class="icon"></ng-icon
      ></a>
    </div>
  </div>
  <p class="text-center copyright">&copy; 2024 All Rights Reserved by Delta</p>
</footer>
