<div class="linhaReta"></div>
<div class="introduction">
    <h1>Quem Somos ?</h1>

    <p>
      A Delta Descartáveis é uma empresa consolidada no mercado de produtos de
      limpeza, especializada em atender as necessidades de restaurantes,
      clubes, hotéis e outros estabelecimentos que exigem altos padrões de
      higiene e qualidade. Com uma ampla gama de produtos, que inclui
      descartáveis, equipamentos de limpeza, produtos químicos, e acessórios,
      a Delta Descartáveis se destaca pela sua capacidade de oferecer soluções
      completas e personalizadas para cada tipo de cliente. Nossa missão é
      garantir a segurança, a limpeza e a eficiência operacional dos nossos
      parceiros, proporcionando produtos que atendem não apenas às exigências
      sanitárias, mas também às expectativas de praticidade e economia.
      Trabalhamos com fornecedores renomados, assegurando que cada item do
      nosso portfólio esteja em conformidade com as normas mais rigorosas do
      setor. Além disso, na Delta Descartáveis, acreditamos na importância de
      um atendimento ao cliente excepcional. Por isso, nossa equipe de
      especialistas está sempre disponível para oferecer consultoria e
      suporte, ajudando nossos clientes a escolherem as melhores soluções para
      suas operações.
    </p>
  </div>

  <div class="container">
    <section id="content" class="content">
      <h2>Produtos</h2>

      <p>
        Os produtos oferecidos pela Delta Descartáveis são cuidadosamente
        selecionados para atender aos mais altos padrões de qualidade e
        eficiência. O portfólio inclui uma vasta gama de itens, desde
        descartáveis como copos, pratos e talheres, até produtos de limpeza
        profissionais, como detergentes, desinfetantes e acessórios de
        limpeza. Além disso, a empresa oferece equipamentos especializados
        para garantir a manutenção da higiene em grandes áreas e em ambientes
        que exigem cuidados especiais. Cada produto é escolhido com base na
        sua eficácia, durabilidade e conformidade com as normas sanitárias,
        garantindo que os clientes da Delta Descartáveis tenham acesso às
        melhores opções disponíveis no mercado. A combinação de qualidade e
        sustentabilidade faz dos produtos da Delta Descartáveis a escolha
        ideal para qualquer estabelecimento que valoriza a limpeza, a
        segurança e a praticidade.
      </p>
    </section>

    <aside class="img-aside">
      <img src="cera.png" alt="" />
    </aside>
  </div>

  <div class="container2">
    <aside class="img-aside2">
      <img src="logo2.png" alt="" />
    </aside>

    <section id="content" class="content">
      <h2>Historia</h2>

      <p>
        A Delta Descartáveis é uma empresa de referência no mercado de
        produtos de limpeza, dedicada a fornecer soluções eficazes e de alta
        qualidade para restaurantes, clubes, hotéis e uma ampla gama de
        estabelecimentos comerciais. Com anos de experiência, a Delta
        Descartáveis tem como objetivo principal garantir a segurança e a
        higiene dos ambientes de seus clientes, oferecendo um atendimento
        personalizado e eficiente. A empresa se destaca não apenas pela
        confiabilidade de seus produtos, mas também pelo compromisso com a
        inovação e a sustentabilidade, sempre buscando formas de minimizar o
        impacto ambiental. A equipe da Delta Descartáveis está sempre pronta
        para fornecer consultoria especializada, ajudando cada cliente a
        encontrar as soluções ideais para suas necessidades específicas.
      </p>
    </section>
  </div>