<section class="login">
    <div class="loginContainer">
      <div class="loginBox">
        <h1>Faça seu login</h1><br>
        <form (ngSubmit)="submitForm($event)" #loginForm="ngForm">
          <div class="inputBox">
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required/>
          </div>
          <div class="inputBox">
            <label for="password">Senha</label><br>
            <input id="password" type="password" required />
          </div>
          <div class="inputBox">
            <input id="login" type="submit" value="Entrar" />
          </div>
          <div class="linhaReta"></div>
          <div class="inputCadastrar">
            <a href="register" class="cadastrar">Cadastre-se</a>
            <a href="forgotPass" class="cadastrar">Esqueceu a senha?</a>
          </div>
        </form>
      </div>
    </div>
  </section>