.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.loginContainer input {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 15px;
}

input[id="login"]  {
  padding: 10px 20px;
  font-size: 15px;
  background-color: rgb(93, 184, 37) !important;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px;
  align-items: center;
  text-decoration: none;
}

input[id="login"]:hover {
  color: #fff;
}

.logForgot {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-top: 15px;
}

.logForgot:hover {
  color: rgb(0, 0, 0);
}

.loginBox {
  position: relative;
  width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  margin-top: 200px;
  height: 480px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}

.loginBox > h1 {
  color: rgb(0, 0, 0);
  font-weight: 300;
}

.inputCadastrar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.linhaReta {
  border: 1px solid rgb(0, 0, 0);
  margin: 10px;
}

.cadastrar {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 15px;
  }
  
  .cadastrar:hover {
    color: rgb(93, 184, 37)
  ;
  }

  label{
    color: #fff
  }