<div class="containerCards">
    <div class="card">
        <img src="mop.jpg" class="card-img-top" alt="Imagem do Produto">
        <div class="card-body">
            <h5 class="card-title">Produto</h5>
            <p class="card-text">Descrição do produto.</p>
            <p class="product-price">R$ 99.90</p>
            <a href="" class="btn btn-primary buy-button">Compre Já</a>
        </div>
    </div>
    <div class="card">
        <img src="luva.jpg" class="card-img-top" alt="Imagem do Produto">
        <div class="card-body">
            <h5 class="card-title">Produto</h5>
            <p class="card-text">Descrição do produto.</p>
            <p class="product-price">R$ 99.90</p>
            <a href="" class="btn btn-primary buy-button">Compre Já</a>
        </div>
    </div>
    <div class="card">
        <img src="mop.jpg" class="card-img-top" alt="Imagem do Produto">
        <div class="card-body">
            <h5 class="card-title">Produto</h5>
            <p class="card-text">Descrição do produto.</p>
            <p class="product-price">R$ 99.90</p>
            <a href="" class="btn btn-primary buy-button">Compre Já</a>
        </div>
    </div>
    <div class="card">
        <img src="cera.png" class="card-img-top" alt="Imagem do Produto">
        <div class="card-body">
            <h5 class="card-title">Produto</h5>
            <p class="card-text">Descrição do produto.</p>
            <p class="product-price">R$ 99.90</p>
            <a href="" class="btn btn-primary buy-button">Compre Já</a>
        </div>
    </div>

    <div class="card">
        <img src="mop.jpg" class="card-img-top" alt="Imagem do Produto">
        <div class="card-body">
            <h5 class="card-title">Produto</h5>
            <p class="card-text">Descrição do produto.</p>
            <p class="product-price">R$ 99.90</p>
            <a href="" class="btn btn-primary buy-button">Compre Já</a>
        </div>
    </div>
    
</div>